.error-page {
  text-align: center;
  margin: 125px 0 200px 0;
  animation: appear 2000ms;
}
.error-page h1 {
  font-size: 250px;
  margin: 0;
}
.error-page p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 100px;
}
.error-page a {
  font-size: 17px;
  font-weight: 600;
  transition: 300ms;
  padding: 5px;
}

.error-page a:hover {
  background-color: #0505050d;
}

@media (max-width: 1024px) {
  .error-page h1 {
    font-size: 150px;
  }
  .error-page p {
    font-size: 25px;
  }
  .error-page a {
    font-size: 15px;
  }
}

@media (max-width: 762px) {
  .error-page h1 {
    font-size: 80px;
  }
  .error-page p {
    font-size: 18px;
    margin: 10px 25px 100px 25px;
  }
  .error-page p::first-line {
    font-size: 18px;
  }
  .error-page a {
    font-size: 13px;
  }
}
