.preface {
  display: flex;
  justify-content: space-between;
  animation: appear 1200ms both;
}

/******************Header and Host*********************/
.header-and-tags {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.header-and-tags .title {
  margin-top: 20px;
}

.header-and-tags .title h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.header-and-tags .title p {
  font-size: 14px;
  font-weight: 500;
  margin: 3px 0;
}

.header-and-tags .tags {
  display: flex;
}

.header-and-tags .tags p {
  font-size: 10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  padding: 3px;
  min-width: 100px;
  margin-right: 7px;
  text-align: center;
}
/*******************Tag and Rating*********************/
.host-and-rating {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.host-and-rating .host {
  display: flex;
  align-items: center;
}

.host-and-rating .host p {
  font-size: 14px;
  font-weight: 500;
  width: 65px;
  text-align: end;
}
.host-and-rating .host img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.host-and-rating .rating svg {
  margin-left: 7px;
}

.host-and-rating .rating {
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .host-and-rating .rating svg {
    width: 21px;
    margin-left: 5px;
  }
}
@media (max-width: 768px) {
  .preface {
    flex-direction: column;
  }
  .host-and-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .host-and-rating .rating {
    margin-top: 0;
  }
  .host-and-rating .rating svg {
    width: 20px;
    margin-left: 5px;
  }
}
