.preface {
  animation: appear 1200ms both;
}

/******************Header and Host*********************/
.preface-header {
  display: flex;
  justify-content: space-between;
}

.preface-header .title {
  margin-top: 20px;
}

.preface-header .title h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.preface-header .title p {
  font-size: 14px;
  font-weight: 500;
  margin: 3px 0;
}

.preface-header .host {
  display: flex;
  align-items: center;
}

.preface-header .host img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.preface-header .host p {
  font-size: 14px;
  font-weight: 500;
  width: 65px;
  text-align: end;
}
/*******************Tag and Rating*********************/
.tags-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-and-rating .tags {
  display: flex;
}

.tags-and-rating .tags p {
  font-size: 10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  padding: 3px;
  min-width: 100px;
  margin-right: 7px;
  text-align: center;
}

.tags-and-rating .rating svg {
  margin-left: 7px;
}
